
#container {
overflow: hidden;
width: 962px;
height: 610px;
}
.left
{
float:left;
}
.right
{
float:right;
}
.clear
{ 
clear:both;
}
.bold
{
font-weight:bold;
}
.imgbg
{
width:962px;
height:610px;
border-radius:3px;
}
.anim1
{
	display:none;
}
.step1Image
{
	width: 177px;
position: absolute;
top: 26%;
left: 17%;
}
.step2Image
{
	width: 179px;
position: absolute;
top: 46%;
left: 33%;
}
.step3Image
{
width: 184px;
position: absolute;
bottom: 10%;
right: 36%;
}
.fontfam
{
	font-family:segoe UI;
	font-size:12px;
}
.key
{
width: 111px;
height: 100px;
position: absolute;
top: 14%;
left: 15%;
transform: rotate(-20deg);
-ms-transform: rotate(-20deg);
-webkit-transform: rotate(-20deg);
}
/*.keyHand
{
height: 40px;
width: 40px;
position: absolute;
left: 44%;
top: 55%;
z-index:99;
}*/
.locked1
{
position: absolute;
top: 30%;
left: 23%;
height: 60px;
width: 100px;
}
.locked2
{
position: absolute;
bottom: 18%;
right: 28%;
height: 91px;
width: 83px;
}
a
{
	cursor:pointer;
}
.pic9
{
position: absolute;
bottom: 0;
width: 154px;
margin-left: 233px;
top: 448px;
/*display:none;*/
}
.pic11
{
position: absolute;
top: 25%;
left: 340px;
height: 292px;
width: 449px;
}
.pic11Content
{
position: absolute;
top: 25%;
left: 32%;
line-height: 33px;
font-weight: bold;
}
.pic12
{
position: absolute;
top: 39%;
left: 702px;
}
.pic4keyHand {
position: absolute;
top: 33%;
height: 40px;
width: 40px;
left: 60.5%;
}
.pic19
{
position: absolute;
top: 23%;
height: 449px;
width: 465px;
left: 22%;
}
.pic191
{
position: absolute;
top: 46%;
height: 310px;
width: 433px;
margin-left: 41%;
}
.members
{
position: absolute;
top: 25%;
left: 26%;
width: 390px;
height: 330px;
overflow: auto;
}
.members1
{
position: absolute;
top: 40%;
left: 40%;
width: 414px;
height: 330px;
overflow: auto;
}
.charPics
{
height: 80px;
}
.pic23
{
position: absolute;
width: 281px;
height: 234px;
bottom: 0;
right: 30%;
top: 58%;
}
.pic24
{
position: absolute;
top: 23%;
left: 19%;
height: 318px;
width: 400px;
}
.pic24Content{
	position: absolute;
top: 27%;
left: 36%;
line-height: 25px;
font-weight: bold;
}
.pic25
{
position: absolute;
top: 39%;
left: 36.5%;
width: 40px;
height: 35px;
}
.pic25Hand
{
top: 43%;
left: 46.6%;
height: 30px;
width: 30px;
position: absolute;
z-index: 99;
}
.pic34
{
position: absolute;
left: 32%;
top: 46%;
}
.pic34Content
{
top: 53%;
left: 24%;
width: 155px;
position: absolute;
line-height: 25px;
}
.pic35
{
top: 9%;
position: absolute;
left: 20%;
height: 310px;
}
.pic36
{
top: 9%;
position: absolute;
right: 30%;
height: 410px;
}
.slide30pic14
{
position: absolute;
left: 11%;
top: 53%;
}
.pic35Content
{
position: absolute;
top: 20%;
left: 26%;
line-height: 25px;
font-weight: bold;
}
.pic36Content
{
position: absolute;
top: 18%;
left: 50%;
line-height: 25px;
font-weight: bold;
}

.sampAnimation
{
width: 111px;
height: 150px;
position: absolute;
top: 7%;
left: 13%;
transform: rotate(-380deg);
-ms-transform: rotate(-380deg);
-webkit-transform: rotate(-380deg);
-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
z-index:10;
}
.sampAnimation2
{
	box-shadow: 0 0 15px red;
	border-radius:34px;
	-webkit-border-radius:34px;
	-moz-border-radius: 34px;
	-o-border-radius: 34px;
	cursor:not-allowed;
}
.succAnimation
{
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
z-index:10;
	box-shadow: 0 0 10px green;
	border-radius:20px;
	-webkit-border-radius:34px;
	-moz-border-radius: 34px;
	-o-border-radius: 34px;
	
}
.pic26
{
position: absolute;
top: 23%;
width: 600px;
height: 447px;
left: 21%;
}
.pic26Content
{
position: absolute;
top: 32%;
left: 26%;
width: 442px;
height: 300px;
}
.ratingimg
{
height:30px;
cursor:pointer;
margin: 0px 8px;
}
.homeHeader
{
position: absolute;
top: 0;
left: 1%;
width: 130px;
height: 100px;
}
.pic52
{
position: absolute;
height: 135px;
margin-left: 10px;
max-width: 962px;
}
.pic51
{
position: absolute;
top: 125px;
height: 470px;
width: 155px;
left: 10px;
}
.leftMenu
{
position: absolute;
top: 19%;
left: 1.7%;
}
.leftMenuItem1
{
	height:90px;
}
.leftMenuItem2
{
height: 70px;
margin-left: 15px;
}
.leftMenuItem3
{
	height: 85px;
padding-left: 10px;
}
.leftMenuItem4
{
	height: 75px;
padding-left: 18px;
}
.topMenu
{
position: absolute;
padding-left: 15px;
}
.topMenuItem1
{
position: absolute;
height: 45px;
margin-top: 1px;
}

.topMenuItem11
{
position: absolute;
height: 45px;
margin-top: 1px;
}
.sliderContent
{
width: 470px;
position: absolute;
top: 33%;
left: 24%;
}
.picSlide
{
	position: absolute;
top: 24%;
left: 19%;
height: 450px;
}
.carousel {
position: absolute !important;
line-height: 30 !important;
left: 111px !important;
width: 425px !important;
}
.bookpic15
{
margin-left: 159px;
height: 30px;
cursor: pointer;
margin-top: 79px;
}
.bookpic16prev
{
margin-right: 195px ;
margin-top: 160px;
margin-left:0px !important;
}
.pic13
{
height: 90px;
top: 90%;
position: absolute;
left: 22%;
}
.pic14close
{
position: absolute;
left: 60%;
cursor:pointer;
top: 26%;
height: 10px;
width: 10px;
}
.pic22
{
height: 325px;
margin-left: -46px;
}
.pic22Content
{
width: 200px;
margin-left: 3px;
margin-top: -14px;
line-height: 25px;
}

.daPicture48{
width: 160px;
position: absolute;
/*margin-left: -147px;
margin-top: -30px;*/
}

.daPicture49{
width: 160px;
margin-left: 286px;
top: 17px;
position: absolute;
}

.gcPicture54{
position: absolute;
max-width: 800px;
max-height: 452px;
margin-left: 176px;
margin-top: -466px;;
}
.gcPicture53{
position: absolute;
width: 141px;
height: 215px;
margin-left: 420px;
margin-top: -340px;
}

.storePicture56{
position: absolute;
margin-left: 217px;
width: 130px;
height: 104px;
margin-top: -34%;
}

.storePicture57{
position: absolute;
margin-left: 415px;
width: 130px;
height: 104px;
margin-top: -34%;
}

.storePicture58{
position: absolute;
margin-left: 600px;
width: 130px;
height: 104px;
margin-top: -34%;
}

.storePicture59{
position: absolute;
margin-left: 790px;
width: 130px;
height: 104px;
margin-top: -34%;
}

.storePicture60{
position: absolute;
margin-left: 209px;
width: 130px;
height: 104px;
margin-top: -17%;
}


.storePicture61{
position: absolute;
margin-left: 415px;
width: 130px;
height: 104px;
margin-top: -17%;
}


.storePicture62{
position: absolute;
margin-left: 616px;
width: 130px;
height: 104px;
margin-top: -17%;
}


.storePicture63{
position: absolute;
margin-left: 790px;
width: 130px;
height: 104px;
margin-top: -17%;
}

.storebuy1{
position: absolute;
margin-left: 239px;
margin-top: -23%;
}

.storebuy11{
position: absolute;
margin-left: 327px;
margin-top: -22.5%;
}

.storebuy2{
position: absolute;
margin-left: 439px;
margin-top: -23%;
}

.storebuy21{
position: absolute;
margin-left: 528px;
margin-top: -22.5%;
}

.storebuy3{
position: absolute;
margin-left: 639px;
margin-top: -23%;
}

.storebuy31{
position: absolute;
margin-left: 726px;
margin-top: -22.5%;
}

.storebuy4{
position: absolute;
margin-left: 819px;
margin-top: -23%;
}

.storebuy41{
position: absolute;
margin-left: 906px;
margin-top: -22.5%;
}

.storebuy5{
position: absolute;
margin-left: 241px;
margin-top: -8%;
}

.storebuy51{
position: absolute;
margin-left: 329px;
margin-top: -7.5%;
}

.storebuy6{
position: absolute;
margin-left: 441px;
margin-top: -8%;
}

.storebuy61{
position: absolute;
margin-left: 528px;
margin-top: -7.5%;
}

.storebuy7{
position: absolute;
margin-left: 647px;
margin-top: -8%;
}

.storebuy71{
position: absolute;
margin-left: 733px;
margin-top: -7.5%;
}

.storebuy8{
position: absolute;
margin-left: 819px;
margin-top: -8%;
}

.storebuy81{
position: absolute;
margin-left: 906px;
margin-top: -7.5%;
}

.keyHeading{
margin-right: auto;
margin-left: 10px;
margin-top: -15px;
}
.HowgwartExpressHeading{
margin-right: auto;
margin-left: 13px;
margin-top: -23px;
}

.Pic26Forward{
position: absolute;
margin-left: 800px;
width: 41px;
height: 41px;
margin-top: -22%;
}

.ratingForwardBack{
position: absolute;
margin-left: 300px;
margin-top: -22%;
width: 41px;
height: 41px;
}

.pic7HomeMenu
{
height: 75px;
margin-top: 10px;
}
.theGreatHalldes
{
width: 300px;
position: absolute;
top: 20%;
left: 30%;
}
.bgheaderpic{
position: absolute;
height: 155px;
margin-left: -3px;
max-width: 981px;
}
.theGreatHalldes
{
width: 300px;
position: absolute;
top: 20%;
left: 30%;
}
.pptslide9
{
    position:absolute;
    left:13%;
    top:20%;
}
.keyunlock{
width: 104px;
height: 71px;
position: absolute;
top: 25%;
left: 21%;
}
.imgclass{
	
}